/* GENERAL */

* {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
  }


body {
    width: 100%;
    height: 610px;
    background-color: #96D9C6;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

/* CONTENT */

header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

#goback {
    width: 200px;
    height: 140px;
    background-color: #248EA6;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#b {
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#back {
    width: 100px;
    height: 100px;
}

main {
    height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#cv {
    height: 150px;
    width: 150px;
}

#text {
    font-family: 'Roboto Condensed', sans-serif;
    width: 50%;
}

/* SUPPOERT FOR DIFFERENT SIZES OF SCREENS */

@media screen and (max-width: 590px) {
    #goback {
        width: 150px;
        height: 100px;
    }

    #b {
        height: 75px;
        width: 75px;
    }

    #back {
        height: 75px;
        width: 75px;
    }

    #text {
        font-size: 25px;
    }
}

@media screen and (max-width: 405px) {
    #cv {
        height: 100px;
        width: 100px;
    }

    #text {
        font-size: 20px;
    }
}

/* ANIMATION FOR HOVERING */

#b:hover {
    transform: scale(1.1);
    transition: 0.5s; 
}