/* GENERAL */

* {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

body {
    background-image: url("Pics/Profiilisivu.png");
}

.see {
    margin-left: 10px;
    font-size: 14px;
}

.pic {
    width: 40px;
    height: 40px;
}

.i {
    height: 298px;
    width: 42.5%;
    border: 1px solid black;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

/* TOP SECTION OF THE PAGE */

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#pro {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 39.09px;
    margin-top: 0px;
    margin-left: 25px;
}

#desc {
    height: 140px;
    width: 70%;
    background-color: #24A6A6;
    margin-top: 20px;
    margin-left: 232px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
}

#b {
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 40px;
}

#back {
    width: 100px;
    height: 100px;
}

#d {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

main {
    display: flex;
    flex-direction: column;
}

#sp {
    margin-top: 50px;
    width: 20%;
    height: 70px;
    background-color: #24A6A6;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 31.25px;
    font-weight: 400;
}

#pt {
    margin-top: 50px;
    margin-left: 80%;
    width: 20%;
    height: 70px;
    background-color: #24A6A6;    
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 31.25px;
    font-weight: 400;
}

/* PROJECTS THAT COME FROM THE LEFT */

.left {
    margin-top: 75px;
    height: 300px;
    width: 90%;
    background-color: #248EA6;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.cleft {
    width: 42.5%;
    height: 300px;
    margin-left: 10px;
    background-color: #96D9C6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hleft {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 31.25px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 5px;
}

.pleft {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 10px;
    line-height: 25px;
}

.ileft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tleft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.kleft {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 5px;
}

/* PROJECTS THAT COME FROM THE RIGHT */

.right {
    margin-top: 75px;
    margin-left: 10%;
    height: 300px;
    width: 90%;
    background-color: #1A5A73;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.cright {
    width: 42.5%;
    height: 300px;
    margin-right: 10px;
    background-color: #24A6A6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#scright {
    width: 42.5%;
    height: 300px;
    margin-right: 10px;
    background-color: #24A6A6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hright {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 31.25px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 5px;
}

.pright {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 10px;
    line-height: 25px;
}

.iright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.tright {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.kright {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-right: 5px;
    text-align: right;
}

/* TEXT THAT SHOWS WHEN THE SCREEN WIDTH IS NARROW ENOUGH */

#top1 { display: none; }

/* FOOTER */

footer {
    height: 75px;
}

/* SUPPORT FOR DIFFERENT SIZES OF SCREENS */

@media screen and (max-width: 1200px) {
    .hright { font-size: 25px; }
    .hleft {  font-size: 25px; }
    .pleft { font-size: 14px; }
    .pright { font-size: 14px; }
    .see { font-size: 12px; }
}

@media screen and (max-width: 1031px) {
    #top { font-size: 14px; }

    .i { 
        width: 20%;
        height: 35%;
    }

    .cleft { width: 60%; }

    .cright { width: 60%; }

    #scright { width: 60%; }

    .right { align-items: center; }

    .left { align-items: center; }

    #s { font-size: 25px; }

    #b {
        height: 75px;
        width: 75px;
    }

    #back {
        height: 75px;
        width: 75px;
    }

    #top {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 880px) {
    #pro { font-size: 31.25px; }

    #desc {
        width: 100%;
        margin-left: 50px;
    }

    #s { margin-left: 10px; }
}

@media screen and (max-width: 746px) {
    #pro { 
        font-size: 25px;
        margin-left: 15px;
    }

    .i { display: none; }

    .pic {
        width: 20px;
        height: 20px;
    }

    .kleft { font-size: 12px; }

    .kright { font-size: 12px; }

    .cleft { width: 75%; }

    .cright { width: 85%; }

    #scright { width: 85%; }

    .hleft { font-size: 20px; }

    .hright { font-size: 20px; }

    #desc { margin-left: 10px;}

    .right { 
        margin-left: 2.5%; 
        width: 97.5%;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
    }

    .left { 
        width: 97.5%;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
    }
    
    .tleft {
        margin-left: 5px;
        margin-right: 5px;
    }

    .tright {
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 590px) {

    #desc { 
        font-size: 12px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    #top {
        font-size: 12px;
    }

    #sp {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
     }


}

@media screen and (max-width: 477px) {
    .pleft {
        font-size: 12px;
        line-height: 16px;
    }

    .pright {
        font-size: 12px;
        line-height: 16px;
    }

    #s { font-size: 20px; }

    #sp { width: 90px; }

    .cleft { margin-left: 0px; }

    .cright { margin-right: 0px; }

    #scright { margin-right: 0px; }

    #b {  margin-right: 10px;}

    .hleft { font-size: 16px; }

    .hright { font-size: 16px; }
}

@media screen and (max-width: 415px) {
    #top { display: none; }

    #top1 {
        display: contents;
        font-size: 12px;
    }

    #d {
        margin-left: 10px;
    }

    #pro { font-size: 20px; }

    .pic {
        width: 15px;
        height: 15px;
    }

    .kleft { font-size: 10px; }

    .kright { font-size: 10px; }

    #desc { margin-left: 5px; }

}

/* ANIMATIONS FOR HOVERING */

#b:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.see:hover {
    color: greenyellow;
}